@model IEnumerable<PeddleRealmWebApp.Models.ItemType>

<!-- Change to button tabs and use JS later-->
<ul class="tab" id="categories">
    @foreach (var itemType in Model)
    {
        <li class="tablinks">
            @Html.ActionLink(itemType.Name, "Browse", "Store", new {ItemType = itemType.Name}, null)
        </li>
    }
</ul>
