

body {
    padding-top: 100px;
    padding-bottom: 20px;
    background-color: #363232;
    color: #cdd7cd;
    background-image: url("Images/Homepage/PeddleRealmBG.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
a {
    color: #f9dc05;
    background-color: #0b0a0a33;
}
.container {
    width: 100%;
    height: 100%;
}
.editor-field {
    color: black;
}
*, :after, :before {

    box-sizing: border-box;

}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
#itemRow {
    display: flex;
    flex-wrap: wrap;
}

.row,
.row > .col-sm-4 {
    padding: 8px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

    .dl-horizontal dt {
        white-space: normal;
    }
    /* Set width on the form input elements since they're 100% wide by default */
    input,
    select,
    textarea {
        max-width: 280px;
    }

    /* Bootstrap overrides*/
.carousel {
    margin-bottom: 4rem;
    top: -4rem;
    width: 103%;
    left: -2rem;
    border: 2px solid black;
}
.card {
    background-color: #cbb9b980;
    width:254px;
}
#fluidCarouselImg {
    max-width: 100%;
    max-height: 450px;
}
#transparent-col {
    background-color: #302d2d66;
    border-radius: 4px;
}
.navbar-nav {
    flex-direction: row;
}
.caret {
    display: none;   
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
    color: #c2f2f9;
}

.navbar-inverse .navbar-nav > li > a {

    color: #c2f2f9;

}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    background-color: #262424;
}
.navbar-inverse {
    background-color: #262424;
    border-color: #363232;
}
.fa, .fas {
    font-weight: 900;
    color: #d7f2f9;
}
#addNewItem {
    display: block;
}
#itemCardBody {
    color: black;
    border: 1px solid;
    padding: 1.25rem;
    border-radius: 4px;
    flex: 1 1 auto;
}
#itemCardImage {
    vertical-align: middle;
    object-fit: contain;
}
#itemContainer {
    border: 1px solid lightgray;
    -ms-border-radius: 15px;
    border-radius: 15px;
    background-color: aliceblue;
}

#itemContent {
    background-color: mintcream;
    border-radius: 5px;
    width: 200px;
    height: 200px;
}

#itemPhotoDisplay {
    width: 100px;
    height: 100px;
    }
#cartSummaryTable {
    background-color: #51040499;
}
    