<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://peddlerealmwebapp20181211061151.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>peddlerealmwebapp20181211061151.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>PeddleRealmWebApp20181211061151</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$PeddleRealmWebApp20181211061151</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:peddlerealmwebapp20181211061151dbserver.database.windows.net,1433;Initial Catalog=PeddleRealmWebApp20181211061151_db;User ID=Perrym14@peddlerealmwebapp20181211061151dbserver;Password=Dudenight71" Name="Data Source=tcp:peddlerealmwebapp20181211061151dbserver.database.windows.net,1433;Initial Catalog=PeddleRealmWebApp20181211061151_db;User Id=Perrym14@peddlerealmwebapp20181211061151dbserver;Password=Dudenight71" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="PeddleRealmWebApp.Models.ApplicationDbContext, PeddleRealmWebApp" MigrationConfiguration="PeddleRealmWebApp.Migrations.Configuration, PeddleRealmWebApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:peddlerealmwebapp20181211061151dbserver.database.windows.net,1433;Initial Catalog=PeddleRealmWebApp20181211061151_db;User Id=Perrym14@peddlerealmwebapp20181211061151dbserver;Password=Dudenight71</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>